@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --primary-color:#2f64a8;
    --secondary-color:#627326;
    --accent1-color:#a2c5ed;
    --accent2-color:#aabf04;

    --heading-font: Comfortaa, sans-serif;
    --paragraph-font: Roboto, sans-serif;

    --nav-background-color:#2f64a8;
    --nav-link-color:#a2c5ed;
    --nav-hover-link-color:#627326;
    --nav-hover-background-color:#aabf04;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    max-width:960px;
    font-family:var(--paragraph-font);
    color:var(--accent3-color)
}

header{
    padding:20px;
    background-color:white;  
    width: 100%;
    margin: 1rem auto;
	display: grid;
	grid-template-columns: 3fr 3fr 3fr 3fr;
    gap: 3rem;
	align-items: center;
	border-bottom: 1px solid #ccc;
	max-width: 1000px;
}

header img {
	margin: 0 0.25rem 0 1rem;
    padding-left: 1rem;
	width: 180px;
	height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-decoration: none;
}

header nav {
    font-family:var(--heading-font);
    color:#2f64a8;
    width: 600px;
    background-color: rgba(102, 163, 232, 0.5);
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-decoration: none;
}

h1,h2,h3,h4,h5,h6{
    font-family:var(--heading-font);
    font-size: 2rem;
    color:var(--primary-color);
    padding: 25px;
    display: flex;
    justify-content:center;
    text-decoration: none;
}


p{
    padding: 20px;
    font-family: var(--paragraph-font);
    color:var(--primary-color);
    text-align: justify;
}


.sociallinks a {
    text-decoration: none;
}

.sociallinks img{
    width: 40px;
}


h1{
    position:relative;
    top: 230px;
    left: 300px;
    width:400px;
}

h2,h3,h4,h5,h6 {
    display:flex;
    align-content:center;
}

h6 {
    font-size: 1.6em;
    color:#a2c5ed;
    text-decoration: underline;
   
}
.hero h1{
    position:absolute;
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
   
}

.hero img { 
    display: block;
    width: 100%;
    height: auto;
    padding-left: 25px;
}

.hero p{
    font-size: 1.1rem;
    color:#a2c5ed
    
}
iframe {
    top: 100px;
    left: 550px;
    float: right;
    width: 250px;
    height: 170px;
    opacity: 100%;
    position:absolute;
}

.small {
    position: absolute;
    top: 290px;
    float: right;
    background-color: rgba(0, 0, 0, 0.5);
    background-position-x: 2em;
    background-position-y: 2em;
    text-align: left;
    padding-left: 2em;
    padding-right: 2em;
    width: 54em;
    margin: 3rem;
    border: 1px solid rgba(0, 0, 0, 0.2); /* 1*/
    padding: 1rem;
    color:white;
    text-align: center;
}

hero{
    position:relative;
}

section {
  max-width: 960px;
  height: auto;
  border: 1px solid;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
  border-spacing: 300px;
  padding-left: 30px;
 
  
}


article {
    padding: 5px;
    margin: 1px;
  }

h2{
    position:relative;
    top:20px;  
    left: 200px;
    width: 500px;
  }

.team img{
    width: 230px;
    height: auto;
}

.team {
    display: grid;
	grid-template-columns: 2fr 2fr 2fr;
	align-content: center; 
    justify-content: space-evenly;
}

.footer {
    width:100%;
    height: 80px;
    border: 1px solid;
    display:flex;
    
    padding: 20px;
    gap: 50px;

}
form {
    width: 650px;
    margin: 0 auto;
    padding: 1rem;
    border: 5px double #718333;
    border-radius: 0.5rem;
    background-color:#e2e9ac;
    display: grid;
}

fieldset {
    display: grid;
    grid-gap: 0.5rem;
    margin: 1rem;
    border: 1px dotted #627326;
    padding: 1rem;
}

legend {
    padding: 0.5rem;
    color:#505f1c;
    font-size: 1.3em;
}

label, input, button, select, textarea {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    padding-right: 1rem;
    font-family: Roboto, sans-serif;
    color: black;
}


input, select, textarea {
    padding: 0.5rem;
    font-size: 1.2rem;
}

input[type=checkbox] {
    width: 20px;
    height: 22px;
    vertical-align: bottom;
}

input[type=text] {
    
    width: 430px;
    height: 25px;
    vertical-align: bottom;
}
input[type=email] {
    width: 370px;
    height: 25px;
}



select {
    width: 332px;
    height: 40px;
    font-size: 1.0rem;
}

textarea {

    width: 530px;
    height: 250px;
}

button {
    margin: 1rem;
    background-color: #505f1c;
    color: #fff;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.5rem;
}

figcaption {
    font-family: Roboto, sans-serif;
    font-size: 0.9rem;
    color:#2f64a8;
}