@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --primary-color:#2f64a8;
    --secondary-color:#627326;
    --accent1-color:#a2c5ed;
    --accent2-color:#aabf04;

    --heading-font: Comfortaa, sans-serif;
    --paragraph-font: Roboto, sans-serif;

    --nav-background-color:#2f64a8;
    --nav-link-color:#a2c5ed;
    --nav-hover-link-color:#627326;
    --nav-hover-background-color:#aabf04;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    max-width:960px;
    font-family:var(--paragraph-font);
    color:var(--accent3-color)
}

header{
    padding:20px;
    background-color:white;  
    width: 100%;
    margin: 1rem auto;
	display: grid;
	grid-template-columns: 3fr 3fr 3fr 3fr;
    gap: 3rem;
	align-items: center;
	border-bottom: 1px solid #ccc;
	max-width: 1000px;
}

header img {
	margin: 0 0.25rem 0 1rem;
    padding-left: 1rem;
	width: 180px;
	height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-decoration: none;
}

header nav {
    font-family:var(--heading-font);
    color:#2f64a8;
    width: 600px;
    background-color: rgba(102, 163, 232, 0.5);
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-decoration: none;
}

h1,h2,h3,h4,h5,h6{
    font-family:var(--heading-font);
    font-size: 2rem;
    color:var(--primary-color);
    padding: 25px;
    display: flex;
    justify-content:center;
    text-decoration: none;
}

p{
    padding: 20px;
    font-family: var(--paragraph-font);
    color:var(--primary-color);
    text-align: justify;
}

.sociallinks a {
    text-decoration: none;
}

.sociallinks img{
    width: 40px; 
}

h1{
    position:relative;
    top: 230px;
    left: 300px;
    width:400px;
}

h2,h3,h4,h5,h6 {
    display:flex;
    align-content:center;

}
.hero h1{
    position:absolute;
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;  
}

.hero img { 
    display: block;
    width: 100%;
    height: auto;
    padding-left: 25px;
}

.hero p{
    font-size: 1.1rem;
    color:#a2c5ed;
}
.small img {
    top: 500px;
    float: right;
    width: 280px;
    opacity: 100%; 
}

iframe {
    top: 100px;
    left: 550px;
    float: right;
    width: 250px;
    height: 170px;
    opacity: 100%;
    position:absolute;
}

.small {
    position: absolute;
    top: 290px;
    float: right;
    background-color: rgba(0, 0, 0, 0.5);
    background-position-x: 2em;
    background-position-y: 2em;
    text-align: left;
    padding-left: 2em;
    padding-right: 2em;
    width: 54em;
    margin: 3rem;
    border: 1px solid rgba(0, 0, 0, 0.2); 
    padding: 1rem;
    color:white;
    text-align: center;
}

hero{
    position:relative;
}

section {
  max-width: 960px;
  height: auto;
  border: 1px solid;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
  border-spacing: 300px;
  padding-left: 30px;
}

.history{
    display:flex;
    flex-direction: row;
    grid-template-rows: 1fr 1fr 1fr ;
    flex-direction: row;
    max-width: 960px;
    justify-content:space-around;
}

.history img{
    width: 250px;
    padding: 10px;
    margin: 20px;
    align-items: center;
}

article {
    padding: 5px;
    margin: 1px;
}

  h2{
    position:relative;
    top:20px;  
    left: 200px;
    width: 500px;
}

  .team img{
    width: 230px;
    height: auto;
}

.team {
    display: grid;
	grid-template-columns: 2fr 2fr 2fr;
	align-content: center; 
    justify-content: space-evenly;
}

.adventures img{
    width: 170px;
}

.adventures {
    display: grid;
	grid-template-columns: 2fr 2fr 2fr 2fr 2fr;
	align-content: center; 
    justify-content: space-evenly;
}

.footer {
    width:100%;
    height: 80px;
    border: 1px solid;
    display:flex;
    justify-content:space-around;
    padding: 20px;
    gap: 350px;
}
