@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --primary-color:#2f64a8;
    --secondary-color:#627326;
    --accent1-color:#a2c5ed;
    --accent2-color:#aabf04;

    --heading-font: Comfortaa, sans-serif;
    --paragraph-font: Roboto, sans-serif;

    --nav-background-color:#2f64a8;
    --nav-link-color:#a2c5ed;
    --nav-hover-link-color:#627326;
    --nav-hover-background-color:#aabf04;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    max-width:960px;
    font-family:var(--paragraph-font);
    color:var(--accent3-color)
}

header{
    padding:20px;
    background-color:white;  
    width: 100%;
    margin: 1rem auto;
	display: grid;
	grid-template-columns: 3fr 3fr 3fr 3fr;
    gap: 3rem;
	align-items: center;
	border-bottom: 1px solid #ccc;
	max-width: 1000px;
}

header img {
	margin: 0 0.25rem 0 1rem;
    padding-left: 1rem;
	width: 180px;
	height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-decoration: none;
}

header nav {
    font-family:var(--heading-font);
    color:#2f64a8;
    width: 600px;
    background-color: rgba(102, 163, 232, 0.5);
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-decoration: none;
}

h1,h2,h3,h4,h6{
    font-family:var(--heading-font);
    font-size: 2rem;
    color:var(--primary-color);
    padding: 25px;
    display: flex;
    justify-content:center;
    text-decoration: none;
}

h5 {
    font-family:var(--heading-font);
    font-size: 2rem;
    color:var(--primary-color);
    padding: 25px;
    display: flex;
    justify-content:center;
    text-decoration: none;
    color:#374113;
}

p{
    padding: 20px;
    font-family: var(--paragraph-font);
    color:var(--primary-color);
    text-align: justify;
}

.sociallinks a {
    text-decoration: none;
}

.sociallinks img{
    width: 40px; 
}

h1{
    position:relative;
    top: 230px;
    left: 200px;
    width:600px;
}


.hero h1{
    position:absolute;
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;  
}

.hero img { 
    display: block;
    width: 100%;
    height: auto;
    padding-left: 25px;
}

.hero p{
    font-size: 1.1rem;
    color:#a2c5ed;
}

.small img {
    top: 500px;
    float: right;
    width: 280px;
    opacity: 100%; 
}

iframe {
    top: 100px;
    left: 550px;
    float: right;
    width: 250px;
    height: 170px;
    opacity: 100%;
    position:absolute;
}

.small {
    position: absolute;
    top: 290px;
    float: right;
    background-color: rgba(0, 0, 0, 0.5);
    background-position-x: 2em;
    background-position-y: 2em;
    text-align: left;
    padding-left: 2em;
    padding-right: 2em;
    width: 54em;
    margin: 3rem;
    border: 1px solid rgba(0, 0, 0, 0.2); 
    padding: 1rem;
    color:white;
    text-align: center;
}

section {
    max-width: 960px;
    height: auto;
    border: 1px solid;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    border-spacing: 300px;
    padding-left: 30px;
    margin-left: 10px;

}

.history{
    display:flex;
    flex-direction: row;
    grid-template-rows: 1fr 1fr 1fr ;
    flex-direction: row;
    max-width: 960px;
    justify-content:space-around;
}

.history img{
    width: 250px;
    padding: 10px;
    margin: 20px;
    align-items: center;
}

article {
    padding: 5px;
    margin: 1px;
}

h2{
    position:relative;
    top:20px;  
    left: 200px;
    width: 500px;
}

.team img{
    width: 230px;
    height: auto;
}

.team {
    display: grid;
	grid-template-columns: 2fr 2fr 2fr;
	align-content: center; 
    justify-content: space-evenly;
}

.adventures img{
    width: 170px;
}

.adventures {
    display: grid;
	grid-template-columns: 2fr 2fr 2fr 2fr 2fr;
	align-content: center; 
    justify-content: space-evenly;
}

.footer {
    width:100%;
    height: 80px;
    border: 1px solid;
    display:flex;
    justify-content:space-around;
    padding: 20px;
    gap: 50px;
    margin-left: 10px;
}
figcaption {
    font-family: Roboto, sans-serif;
    font-size: 0.9rem;
    color:#2f64a8;
}

form {
    width: 650px;
    margin: 0 auto;
    padding: 1rem;
    border: 5px double #718333;
    border-radius: 0.5rem;
    background-color:#e2e9ac;
    display: grid;
}

fieldset {
    display: grid;
    grid-gap: 0.5rem;
    margin: 1rem;
    border: 1px dotted #627326;
    padding: 1rem;
}

legend {
    padding: 0.5rem;
    color:#374113;
    font-size: 1.3em;
}

label, input, button, select, textarea {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-family: Roboto, sans-serif;
    color:#374113;
}


input, select, textarea {
    padding: 0.5rem;
    font-size: 1.2rem;
}

input[type=checkbox] {
    width: 20px;
    height: 22px;
    vertical-align: bottom;
}

input[type=text] {
    width: 430px;
    height: 25px;
    vertical-align: bottom;
}

input[type=email] {
    width: 370px;
    height: 25px;
}

select {
    width: 332px;
    height: 40px;
    font-size: 1.0rem;
}

textarea {
    width: 530px;
    height: 250px;
}

button {
    margin: 2rem;
    background-color: #505f1c;
    color: #fff;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.4rem;
    width:470px;
} 

div button {
    margin: 2rem;
    background-color: #505f1c;
    color: #fff;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.4rem;
    width:200px;
    position:absolute;
    top:60px;
    left:400px;
} 

article button {
    margin: 2rem;
    background-color: #505f1c;
    color: #fff;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.4rem;
    width:200px;
    position:absolute;
    top:160px;
    left:600px;
} 

table {
    display: flex;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    padding-left: 3rem;
    padding-bottom: 30px;
    font-family:  Roboto, sans-serif;
    font-size: 0.9rem;
    width: 880px;
    border:1px solid black;
    padding: 10px;
}

td, th {
    border: 1px solid #dddddd;
    font-size: 1.1rem;
    text-align: left;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
 
}

th {
    background-color: #a2c5ed;
    font-weight: bolder;
    font-size: 1.2rem;
    font-family:  Confortaa, sans-serif;
}

td{
    font-family:  Roboto, sans-serif;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.wrapper {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-gap: 10px;
    background-color: #fff;
    color: #444;
}
  
.box {
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
}
  
.a {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.b {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

.c {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}
    
.d {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}
.e {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

.f {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}


.media {
    margin-bottom: 2em;
    border: 2px solid #444;
    padding: 10px;
    display: grid;
    grid-column-gap: 20px;
    grid-template-areas:
    "title"
    "img"
    "bd"
    "ft";
    grid-template-areas:
    "img title"
    "img bd"
    "ft ft";
    grid-template-columns: 150px 3fr;
    grid-template-rows: auto 1fr auto;
    width: 890px;
}
      
.media > .title { grid-area: title; }
.media > .img { grid-area: img; }
.media > .content { grid-area: bd; }
.media > .callaction { grid-area: ft; }
.media > .callaction1 { grid-area: ft; }
      
      
.media > .media {
    margin-left: 160px;
    clear: both;
}
      
.media .img {
    float: left;
    margin: 0 10px 0 0;
    width: 150px;
}
        
.media .callaction {
    background-color: #eee;
    padding: 10px;
}
.media .callaction1 {
    background-color: #eee;
    padding: 10px;
}
      
.media.media-flip .img {
    float: right;
    margin: 0 0 0 0;
}
      
.media > * {
    margin: 0 0 0 160px;
}
      
.media.media-flip > * {
    margin: 0 0px 0 0;
    
}

.media img{
    position:relative;
    width: 320px;
    height: 250px;

}

.media.media-flip img{
    position:relative;
    
    width: 320px;
    height: 250px;

}
.media.media-flip {
    grid-template-columns: 3fr 320px ;
    grid-template-areas:
    "title img"
    "bd img"
    "ft ft";
}

.callaction {
    position:relative;
    left: 190px;
    width: 500px;
    height: auto;
}
.callaction1 {
    position:relative;
    left: 20px;
    width: 490px;
    height: auto;
}

.newsletter {
    position:absolute;
    text-align: left;
    top:550px;
    left: 180px;
}

.newsletter form {
    width: 650px;
    margin: 0 auto;
    padding: 1rem;
    border: 5px double #718333;
    border-radius: 0.5rem;
    background-color:rgba(226, 233, 172, 0.5);
    display: grid;
}



.container {
    display: grid;
    width: 900px;
    height: 640px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 80px 1fr 1fr 100px;
    grid-gap: 1rem;
    padding-left: 6em;
    grid-template-areas:
        "header header header"
        "sidebar content-1 content-1"
        "sidebar content-2 content-2"
        "content-3 content-3 content-3"
       
  }
  .header {
    grid-area: header;
  }
  
  .sidebar {
    grid-area: sidebar;
  }
  
  .content-1 {
    grid-area: content-1;
  }
  
  .content-2 {
    grid-area: content-2;
  }

  .content-3 {
    grid-area: content-3;
  }



  /* OTHER STYLES CCS GRID Layout HOME*/
  
   .body {
    display:flex;
    justify-content:center;
    padding: 20px;
    font-family: Confortaa, sans-serif;
  }
  
    .item {
    background-color:#505f1c;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.3);
    color:#ccc;
    border-radius: 4px;
    border: #505f1c;
    display: flex;
    justify-content: center;
    align-items: center;
   
  }

  .item footer{

    width: 300px;
  }
  
  .content-1 {
    background-color:#e2e9ac;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.3);
    color:#ccc;
    border-radius: 4px;
    border: #e2e9ac;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-weight: bold;
   
  }
 

  

  .header {
    font-size: 1.5rem;
    font-weight: bolder;
    font-family: Confortaa, sans-serif;
  }

  .content-1 img {
    position:relative;
    width: 480px;
  

  }

  .content-1 p {
    position:absolute;
    top:1180px;
    font-size:1.2rem;
    font-weight: bold;
    color:black;
   
  }

  .sidebar{
    background-color:#718333;
  }
  
  .sidebar img {
  width: 100%;
  }
  
.sidebar p{
    position:absolute;
    top:1300px;
    font-size:1.4rem;
    font-weight: bold;
    font-family: var(--paragraph-font);
    color:black;
    text-align: center;
}

.content-3 img {
    position:relative;
    width: 804px;

}

.content-3 p {
    position:absolute;
    top:1400px;
    font-size:1.4rem;
    font-weight: bold;
    font-family: var(--paragraph-font);
    color:black;
    text-align: center;
   

}

.item button {
    position:absolute;
    top:1305px;
    left:500px;
    font-size:1.4rem;
    font-weight: bold;
    text-align: center;
    background-color:#e2e9ac;
    color:#374113
}




    
  
  